
.root {
  display: flex;
}

.main-components {
  position: absolute;
  width: 100%;
}

/************************
HTML TAGS
************************/
body {
  background: #eddccd;
  color: #866124;
  margin: 0;
  font-family: "Oxygen", sans-serif;
  text-align: center;
  /* position: relative; */
}

h1 {
  margin: 0;
  font-family: "Old Standard TT", sans-serif;
}

footer {
  text-align: center;
  color: #866124;
  font-weight: 400;
  left:0;
  bottom:0;
  right:0;
}

/************************
NAVIGATION BAR
*************************/

.link-style {
  /* color: #866124; */
  /* color: black; */
  font-size: 24px;
  text-decoration: none;
}

.link-style:hover {
  font-weight: 700;
  text-shadow: gray;
}

.navigation-bar {
  /* background-color: #eddccd; */
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  /* font-weight: 700; */
  color: white;
  z-index: 1;
  width: 100%;
  height: 10%;
}

.logo {
  margin-left: 3%;
  align-self: center;
}

.navbar-items {
  display: flex;
  margin-right: 10%;
}

.navbar-item {
  margin: 3%;
}


/************************
HOME PAGE
************************/


/* HOME COMPONENT */
.home {
  /* position: absolute; */
  left: 0;
  top: 0;
  width: 100%;
}

/* WELCOME SECTION */

.welcome-section {
  overflow: hidden;
  position: relative;
  text-align: center;
  justify-content: center;
  /* padding: 15% 30%; */
  display: flex;
  /* width: 100vw; */
  width: 100%;
}

.welcome-bg {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

.welcome-section h1 {
  color: #ffffff;
  font-size: 65px;
}

.title-background {
  position: relative;
  background-color: black;
  opacity: 0.8;
  width: fit-content;
  padding: 4% 3%;
  margin: 20%;
}

/* SERVICES SECTION */

.services-cards {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 8% 8%;
  padding-left: 11%;
  background-color: #fffbf6;
}

.card {
  margin: 2%;
  justify-content: center;
  text-align: left;
}

.typografy {
  font-family: "Oxygen", sans-serif;
  background-color: #fffbf6;
}

.card img {
  width: 300px;
  height: 200px;
}

.card p {
  padding: 0;
}

/* AVAILABILITY SECTION */

.date-checker{
  text-align: center;
  padding: 10% 30%;
}

.availability-message {
  text-align: justify;
}


/* CALL TO ACTION SECTION */

.call-to-action h1 {
  align-self: center;
  padding: 8% 10%;
  font-size: 50px;
}

.call-to-action {
  background-color: #fffbf6;
  display: flex;
  justify-content: center;
  padding: 5%;
  align-self: center;
}

.foto-flower {
  width: 200px;
  height: 200px;
  background-color: #866124;
  margin-right: 20%;
}


/************************
OTHER PAGES
************************/

.page-description {
  background-color: #fffbf6;
  padding: 8% 10% 5%;
}

.contact{
  height: 65vh;
}

.whatToDo {
  padding-top: 8%;
}

/***
Slides with pictures and description
***/

.slide {
  width: 100%;
}

.even-slide {
  padding: 5% 0;
  background-color: #eddccd;
}

.odd-slide {
  padding: 5% 0;
  background-color: #fffbf6;
}

.picture-section {
  margin: 5% 0;
  justify-content: center;
  display: flex;
  padding: 0 10%;
}

.description-section {
  background-color: #fffbf6;
  margin: 7% 0;
  display: flex;
}

.odd-slide .description-section {
  background-color: #eddccd;
}

.slide p {
  align-self: center;
  padding: 6%;
}

.slide img {
  width: 500px;
  height: 350px;
}

/**********************

***********************/

